
/* #showMsg{height: 450px;width: inherit;text-align: justify;} */
/*aSlide_tools*/

/* #right_float{position: fixed; right: 0; top: 50px; z-index:999; _overflow-x:hidden;} */

#commentBoard{text-align:left;
font-family: '微软雅黑', arial, sans-serif; 
padding: 10px;}

#special_div_for_anwcl_comment_board , #jquery_comment
{position: fixed; z-index:2147483646; _overflow-x:hidden; width: 40%; height: 100%; right: -40%; 
background: #ffffff; border-top-left-radius:0.5em;border-bottom-left-radius:0.5em; border:3px solid #d3d3d3; border-right:0px; top:0%;
box-shadow: rgba(0, 0, 0, 0.0980392) -10px 0px 10px 0px;-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) -10px 0px 10px 0px;}

#comment_time {color: #C0C0C0;}

#boardLeft{
position:absolute;top:40%;left:-40px;width:35px;border:2px solid #aaaaaa;
font-size:20px;text-align:center; background:#ffffff;
border-top-left-radius:0.3em;border-bottom-left-radius:0.3em;
font-family: '微软雅黑', arial, sans-serif; 
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#boardLeft a{
text-decoration:none;
color:#000000;
}

#boardLeft:hover, #boardLeft:focus, #boardLeft a:focus, #boardLeft a:hover {
	background:#000011;
	border-bottom-color:#777;
    color:#ffffff;
}

#boardDesc{height:100px;}
#boardDesc p{width: 1em;font-size: 20px;letter-spacing: 40px;line-height:25px;
margin:10px auto 0 auto;font-family: '微软雅黑', arial, sans-serif; font-weight: bold;}
#boardButton{height:30px;}

#commentForm{font-size:14px;height:10px;}
#loginForm{font-size:14px;height:10px;}

.absoluteCenter {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

/* for popup */
.alert-messages {
position: fixed;
top: 47px;
left: 0;
right: 0;
z-index: 7000;
}

.message {
position: relative;
width: 500px;
padding: 10px 12px;
margin: 0 auto;
text-shadow: 0 -1px 1px rgba(0,0,0,.5);
background: #111;
background: rgba(20,20,20,.9);
border-radius: 6px;
-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.25);
box-shadow: 0 2px 4px rgba(0,0,0,.25);
}

.message .message-text {
display: block;
margin-right: 20px;
color: #ccc;
font-size: 12px;
line-height: 16px;
text-align: center;
}

#editor {overflow:scroll; max-height:300px}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {

	#special_div_for_anwcl_comment_board, #jquery_comment {
		width: 60%;
        right: -60%;
	}

}

/* for 700px or less */
@media screen and (max-width: 700px) {

	#special_div_for_anwcl_comment_board, #jquery_comment {
		width: 80%;
        right: -80%;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	#special_div_for_anwcl_comment_board, #jquery_comment {
		width: 100%;
        right: -100%;
	}
}
