
#showMsg{
  background: #FFFFFF;
  height: 500px;
  width: inherit;
  text-align: justify;
}

/*aSlide_tools*/
#right_float{position: fixed; right: 0; top: 50px; z-index:999; _overflow-x:hidden;}
#commentBoard{width: 500px; position: relative; height: 550px; right: -500px; line-height: 25px;border:1px solid #000000; border-right:0px;margin-top:-1px; background:#fff;}

#boardLeft{
position:absolute;top:40%;left:-31px;width:30px;border:0px solid #e0e0e0;background:#FFF000;font-size:20px;line-height:50px;text-align:center;
}

#boardDesc{height:100px;}
#boardButton{height:50px;background:#AAAAAA;}