{% load humanize %}
{% load tags %}

<html>

<head>

<!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

{% load staticfiles %}
<link rel="stylesheet" href="{% static "test/comment_styles.css" %}" type="text/css" media="all" />
</head>

<body style="padding:5px;">

<script>
	function onComment() {
		var badge = $('#count');
		var count = parseInt(badge.html())+1;
		badge.html(count);
	}
</script>
<div id="commentBoard">
	<div id="boardRight" >
		<ul class="nav nav-pills" class="panel panel-default">
		  <li id="nav_comment" class="{% active request "comment" %}" title="{{ index_url }}"><a href="#">
		  <span class="badge pull-right" id="count">{{ p_comment.paginator.count }}</span> 口水</a> </li>
		  <!-- <li id="nav_account" class="{% active request "account" %}"><a href="#"><span class="badge pull-right">2</span> 账户</a></li>
		  <li id="nav_letter" class="{% active request "letter" %}"><a href="#"><span class="badge pull-right">33</span> 信封</a></li>
		  <li id="nav_setting" class="{% active request "setting" %}"><a href="#"> 设置</a></li> -->
          <li class="dropdown">
        {% if user.is_authenticated %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              {{ user.username }}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
          {% for assoc in backends.associated %}
            <li>
              <a href="/logout/">{{ assoc.provider }} logout</a>
            </li>
          {% endfor %}
            <li><a href="/logout/">normal logout</li>
            </ul>
        {% endif %}
          </li>
		</ul>
<br/>
		{% block content%}

		{% endblock %}
	</div>
</div>
</body>
<script type="text/javascript" src="{% static "test/commentBoard.js" %}"></script>

</html>
