{% load humanize %}

<ul class="list-group">
{% for message in p_comment.object_list %}
    <li class="list-group-item">
    <strong>路人甲</strong> <span id='comment_time'> {{ message.time_added|naturaltime }}</span> {{message.comment_str}} <br>
    </li>
{% endfor %}
</ul>

<ul class='pagination'>
<li><a href="#">«</a></li>
{% for num in p_comment.paginator.page_range %}
  {% ifequal num p_comment.number %}
    <li><span class="current"><b>{{ num }}</b></span></li>
  {% else %}
    <li><a href="?page={{ num }}">{{ num }}</a></li>
  {% endifequal %} 
{% endfor %}
<li><a href="#">»</a></li>
</ul>