{% extends "comments/base.html" %}
{% block content %}
		<div class="alert-messages" id="message-drawer" style="opacity: 0; top: 60px; display: none;">
		  <div class="message ">
		    <div class="message-inside">
		      <span class="message-text">吐槽成功！</span>
		      <a class="dismiss" href="#" style="display: none;">×</a>
		    </div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-lg-6">
			<div class="input-group">
			  <textarea rows="1" class="form-control" id="commentTop" name="commentTop" placeholder="可输入5-140个字"></textarea>
			  <span class="input-group-btn">
          <button class="btn btn-default submitComment" data-loading-text="评论中" id="submitCommentTop" type="button" onclick="onComment(event)">
            评论
          </button>
			  </span>
			</div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
		<br>
		<div id="showMsg">
			{% include "comments/comment_view_raw.html" %}
		</div> <!-- /#showMsg -->
		<div class="row">
		  <div class="col-lg-6">
			<div class="input-group">
			  <textarea rows="1" class="form-control" id="commentBottom" name="commentBottom" placeholder="可输入5-140个字"></textarea>
			  <span class="input-group-btn">
          <button class="btn btn-default submitComment" data-loading-text="评论中" id="submitCommentBottom" type="button" onclick="onComment(event)">
            评论
          </button>
			  </span>
			</div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
		<br>
{% endblock %}
