{% load humanize %}

<script type="text/javascript">
function up(id) {
 $.get("/ajax/up/comment/"+id)
   .done(function(data){
      if (data == "duplicated") {
          popup_message("You can only up once :)");
      } else if (data == "+1") {
          popup_message("up+1");
          var ups = $('#up_comment_'+id).find('span');
          var count = parseInt(ups.text())+1;
          ups.text(count);
      } else if (data == "down-1") {
          popup_message("down-1");
          var downs = $('#down_comment_'+id).find('span');
          var count = parseInt(downs.text())-1;
          downs.text(count);
      }
   });
};
function down(id) {
  $.get("/ajax/down/comment/"+id)
   .done(function(data){
      if (data == "duplicated") {
          popup_message("You can only down once :)");
      } else if (data == "+1") {
          popup_message("down+1");
          var downs = $('#down_comment_'+id).find('span');
          var count = parseInt(downs.text())+1;
          downs.text(count);
      } else if (data == "up-1") {
          popup_message("up-1");
          var ups = $('#up_comment_'+id).find('span');
          var count = parseInt(ups.text())-1;
          ups.text(count);
      }
   });
};
</script>

<ul class="list-group">
{% for message in p_comment.object_list %}
  <li class="list-group-item">
    <span style="float:right">
			<a href="#" id="up_comment_{{message.id}}" onclick="up('{{message.id}}')"><i class="fa fa-thumbs-o-up"></i>+<span>{{ message.up_users|length }}</span></a>
					<a href="#" id="down_comment_{{message.id}}" onclick="down('{{message.id}}')"><i class="fa fa-thumbs-down fa-flip-horizontal"></i>-<span>{{ message.down_users|length }}</span></a>
     </span>
     <strong>{% if message.user %}{{ message.user }}{% else %}{{ message.auther_ip }}{% endif %}</strong>
     <span id='comment_time'> {{ message.time_added|naturaltime }}</span> {{message.comment_str}} <br>
  </li>
{% endfor %}
</ul>

<ul class='pagination'>
{% if p_comment.has_previous %}
<li id='pagination_arrow_{{ p_comment.previous_page_number }}'><a href='#'>«</a></li>
<script type="text/javascript">
  var l = document.location;
  $('#pagination_arrow_{{ p_comment.previous_page_number }}').on('click', function() {
	  $('#showMsg').load(l.origin + '/ajax' + l.pathname + '?page={{ p_comment.previous_page_number }}');
  });
</script>
{% endif %}
{% for num in p_comment.paginator.page_range %}
  {% ifequal num p_comment.number %}
    <li><span class="current"><b>{{ num }}</b></span></li>
  {% else %}
    <li id='pagination_{{num}}'><a href="#">{{ num }}</a></li>
    <script type="text/javascript">
      var l = document.location;
      $('#pagination_{{num}}').on('click', function() {
    	  $('#showMsg').load(l.origin + '/ajax' + l.pathname + '?page={{ num }}');
      });
    </script>

  {% endifequal %}
{% endfor %}
{% if p_comment.has_next %}
<li id='pagination_arrow_{{ p_comment.next_page_number }}'><a href="#">»</a></li>
<script type="text/javascript">
  var l = document.location;
  $('#pagination_arrow_{{ p_comment.next_page_number }}').on('click', function() {
	  $('#showMsg').load(l.origin + '/ajax' + l.pathname + '?page={{ p_comment.next_page_number }}');
  });
</script>
{% endif %}

</ul>

{% if user.is_authenticated %} <!-- not authenticated -->
<!-- <iframe src="{% url 'test' %}" frameborder="0" onload="document.getElementById('loadImg').style.display='none';"
width="100%" height=100% frameborder="0">
</iframe> -->
{% comment %}
{% else %}
{% include "social_signin_raw.html" %}
{% endcomment %}
{% endif %}
