{% extends 'base.html' %}

{% block content %}

<div class="block">
<div class="page-header">
<h1>Comment Detail <small>{{comment.comment_board}}</small> </h1> 
</div>

<!--TODO owner can delete, admin can delete-->
<button>Delete</button>

<p>
title: {{ comment.title }}<br/>
comment_str: {{ comment.comment_str }}<br/>
desc: {{ comment.desc }}<br/>
comment_board: {{ comment.comment_board }}<br/>
author_ip: {{ comment.author_ip }}<br/>
user: {{ comment.user }}<br/>
up_users: {{ comment.up_users }}<br/>
down_users: {{ comment.down_users }}<br/>
tags: {%for tag in comment.tags%}{{ tag }},{%endfor%}<br/>
</p>

</div> <!-- .block -->

{% endblock %}
