html, body {
    height: 100%;
}
.container.main {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto 0px; /* the bottom margin is the negative value of the footer's height */
    padding: 0;
}
.list-group-item {
    padding: 10px 15px 15px 15px;
}
.ranklist {
  padding: 4px;
  margin: 4px;
  background: #465D84;
  color: #fff;
}
#footer {
    width: auto;
    /*background: #363b48;*/
    background: #384B6B;
    color: #9b9ca1;
    /*min-width: 1200px;*/
    margin: auto;
    padding: 10px 0;
    height: 60px;
    text-align: center;
    font-size: 12px;
}
#footer .footer-inner {
    margin: 0 auto;
    width: 100%;
}
#footer .footer-about {
    padding-top: 10px;
    margin-bottom: 0px;
}

body {
  background-image: url(/static/imgs/backgrounds/gray.jpg);
  background-color: #e2e2e2;
}
h1, h2, h3, h4, h5, p, div, form {
  font-family:microsoft yahei;
}
.breadcrumb {
  background: #FFFFFF;
}
.label {
  padding: .1em .3em .15em;
  font-weight: inherit;
}

.container {
max-width: 1000px;
}

/* You can use col-md-* with it. */
.col-block {
padding: 15px 15px 15px 15px;
margin: 0 -15px 15px;
background-color: #fafafa;
}

.block {
position: relative;
padding: 15px 15px 15px 15px;
margin: 0 -15px 15px;
background-color: #fafafa;
box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
border-color: #e5e5e5 #eee #eee;
border-style: solid;
border-width: 1px 0;
}

.block + .highlight {
margin: -15px -15px 15px;
border-radius: 0;
border-width: 0 0 1px;
}

.comment-text {
font-size: 120%;
}

.comment-reply {
font-size: 110%;
}

.comment-time {
color: #C0C0C0;
}

a:link[id^=up_comment], a:link[id^=down_comment] {
text-decoration: none;
}

a:link.reply-icon { 
color: #000000; 
text-decoration: none; 
} 
.reply-icon a:visited { 
color:#00FF00; 
text-decoration:none; 
} 
.reply-icon a:hover { 
color:#000000; 
text-decoration:none; 
} 
.reply-icon a:active { 
color:#FFFFFF; 
text-decoration:none; 
} 

@media (min-width: 768px) {

.block {
margin-left: 0;
margin-right: 0;
background-color: #fff;
border-width: 1px;
border-color: #ddd;
border-radius: 4px 4px 0 0;
box-shadow: none;
}
.block + .highlight {
margin-top: -16px;
margin-left: 0;
margin-right: 0;
border-width: 1px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}

}
