{% load humanize %}
{% load tags %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<html>

<head>
  <meta charset="utf-8">
  <title>首页 - 藤蔓评论</title>
  <link href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'font-awesome/4.0.3/css/font-awesome.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'twitter-bootstrap/3.0.3/css/bootstrap.min.css' %}" rel="stylesheet"/>
  {# navbar.css/navbar_black.css 表示navbar颜色 #}
  <link href="{% static 'css/navbar_black.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/navbar_dwarf.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/base.css' %}" rel="stylesheet"/>

{% block head %}
{% endblock %}
</head>

<body>
  <div class="navbar-xs">
  <div class="navbar-primary">
  <div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      </button>
      <a class="navbar-brand" href="/">藤蔓评论</a>
    </div> <!-- .navbar-header -->
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a href="#home" data-toggle="tab" onclick="Home(this)">展示</a></li> -->
        <li><a href="/comments/best" id="comments_best">最优</a></li>
        <li><a href="/comments/up/7" id="comments_up_default">精华</a></li>
        <li><a href="/comments/hot/7" id="comments_hot_default">热议</a></li>
        <li><a href="/comments/newest" id="comments_newest">最新</a></li>
        <li><a href="/comments/tag" id="comments_tag">TAG</a></li>
        {% comment %} <li><a href="/comments/debate/7" id="comments_debate_default">热议</a></li> {% endcomment %}
      </ul>
      <div class="col-sm-3 col-md-3">
      <form class="navbar-form navbar-left" role="search" method="get" action="/faceted_search">
        <div class="input-group">
          <input id="search-input" type="text" name="q" class="form-control" placeholder="搜索">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        <!-- <a href="#" onclick="Search(this)"><span class="glyphicon glyphicon-search"></span></a> -->
      </form>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% include 'auth/auth_all__li.html' %}
        <li><a href="#" onclick="url_post_comment()" id="comments_url_post">我要发帖</a></li>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
  </div>
  </div> <!-- .navbar-primary -->
  </div> <!-- .navbar-xs -->

  {% include "auth/auth_modal.html" %}

<div class="container">
  <div class="col-lg-9">
  <div class="alert-messages" id="message-drawer" style="opacity: 0; display: none; float:top">
  	<div class="message ">
  		<div class="message-inside">
  			<span class="message-text">吐槽成功！</span>
  			<a class="dismiss" href="#" style="display: none;">×</a>
  		</div>
  	</div>
  </div>
  {% comment %}
    <div class="panel panel-default">
      <div class="panel-body"> 每日推荐  预留 </div>
    </div>
  {% endcomment %}
    
    <div id="showMsg">
    {% block content_start %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block content_end %}
    {% endblock %}
    </div> <!-- /#showMsg -->
  </div> <!-- /#col-lg-9 -->

  <div class="col-lg-3">
    <div class="panel panel-default" style="padding:10px;">
    {% if author %}
    <strong>{{author}}</strong></br></br>
<table cellpadding="0" cellspacing="0" border="0" width="100%"><tbody><tr>
<td width="50%" align="center"><a href="#" class="dark" style="display: block;"><span class="bigger">{{author.get_comments_sum}}</span><div class="sep3"></div><span class="card_fade">发帖数</span></a></td>
<td width="50%" align="center"><a href="#" class="dark" style="display: block;"><span class="bigger">{{ author.get_star_count }}</span><div class="sep3"></div><span class="card_fade">点赞数</span></a></td>
    {% comment %}回帖数：{{ author.get_reply_to_comment_count }}</br>
    浏览数：{{ author.get_view_count }}</br>{% endcomment %}
</tr></tbody></table>
    {% else %}
    </br>
    <center><strong>立即<a href="#" data-toggle="modal" data-target="#registerModal">注册</a></strong></center>
    </br>
    {% endif %}
    </div>
  </div>
</div>
{% comment %}
<form method='post' action='/comments/' enctype='multipart/form-data' id='urlpostForm' style="display: none;">
    {% csrf_token %}
    {{ url_post_form|crispy }}
    <div class='control-group'>
        <div class='controls'>
            <button type='submit' onclick="prepost();" class='btn btn-primary'>上传</button>
        </div>
    </div>
</form>
{% endcomment %}

<script src="{% static 'jquery/2.0.3/jquery.min.js' %}"></script>
<script src="{% static 'twitter-bootstrap/3.0.3/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/btoa.js' %}"></script>
<script src="{% static 'js/csrf.js' %}"></script>
<script src="{% static 'js/jquery.pjax.js' %}"></script>
<script src="{% static 'js/comment_updown.js' %}"></script>
<script type="text/javascript">$('a').tooltip();</script>
<!-- XXX: use popup_message in commentBoard.js -->
<script type="text/javascript" src="{% static 'js/commentBoard.js' %}"></script>
  <link href="{% static 'bootstrap-dialog/css/bootstrap-dialog.min.css' %}" rel="stylesheet" type="text/css" />
  <script src="{% static 'bootstrap-dialog/js/bootstrap-dialog.min.js' %}"></script>

<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/wysihtml5/0.3.0/wysihtml5.min.js"></script>
  <script src="http://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


<script type="text/javascript">
function Home(me) {
  window.location.href = "{% static 'onepage-scroll/Demo/demo.html' %}";

  $.get("/index")
   .done(function(data){
        $('#showMsg').html(data);
   });
};
function Best(me) {
  $.get("/comments/best")
   .done(function(data){
        $('#showMsg').html(data);
   });
};
function Newest(me) {
  $.get("/comments/newest")
   .done(function(data){
        $('#showMsg').html(data);
   });
};
function Hotest(me, days) {
  $.get("/comments/hot/"+days)
   .done(function(data){
        $('#showMsg').html(data);
       });
};
function Debate(me, days) {
  $.get("/comments/debate/"+days)
   .done(function(data){
        $('#showMsg').html(data);
       });
};
function Search(me) {
  $.get("/search/?q=" + document.getElementById('search-input').value)
  .done(function(data) {
    $('#showMsg').html(data);
  });
  return false;
};
function SearchIfEnter(event) {
  //if (!event) { var event = window.event; }
    //event.preventDefault();
    var keypressed = event.keyCode || event.which;
    if (keypressed == 13) {
        Search(this);
        return false;
    }
    return true;
}
function SearchText(text) {
  $.get("/search/?q=" + text)
  .done(function(data) {
    $('#showMsg').html(data);
  });
};
//$('#search-input').keyup(SearchIfEnter(event));

$(document).ready(function() {
  if (!window.btoa) {
    window.btoa = base64.encode;
  }
  $('body').append('<div id="vine_comment_iframe"></div>');
  $.support.cors = true;
  $('#vine_comment_iframe').load("/iframe/" + btoa(document.location));
});

function url_post_comment() {
    var urlpostform = '<form method="post" action="/comment/xxx" enctype="multipart/form-data" id="urlpostForm" onsubmit="return prepost(event);"> '+
                        '<input type="hidden" name="csrfmiddlewaretoken" value="3y7OqhlDip0Gvwkr6uqXDFagDw5kC7JR" />'+
                          '<div id="div_id_url" class="form-group"><label for="id_url" class="control-label  requiredField">'+
                            'Url<span class="asteriskField">*</span></label><div class="controls "><textarea class="textarea form-control" cols="40" id="id_url" name="url" rows="10" style="resize:none"></textarea></div></div><div id="div_id_comment_str" class="form-group"><label for="id_comment_str" class="control-label  requiredField">'+
                            '评论<span class="asteriskField">*</span></label><div class="controls "><textarea class="textarea form-control" cols="40" id="id_comment_str" name="comment" rows="10" style="resize:none"></textarea></div></div>'+

                        '<div class="control-group">'+
                            '<div class="controls">'+
                                '<button id="submit_bn" type="submit" class="btn btn-primary">发帖</button>'+
                            '</div>'+
                        '</div>'+
                    '</form>';
   BootstrapDialog.show({
       title: "我要发帖",
       message: urlpostform
   });
}

function prepost(e) {
    var o_url = $('#id_url').val();
    //alert(o_url);
    var url_b64 = btoa(o_url);
    $('#submit_bn').attr('disabled','true');
    //e.preventDefault();
    /* todo: cross domain get the url document
    var imgdata = null;
    html2canvas(document.body, {
      onrendered: function(canvas) {
        document.body.appendChild(canvas);
      },
      width: 1024,
      height: 768
    });
    */
    $.post("/comment/"+url_b64+"/",{comment:$('#id_comment_str').val()}, 
            function() {
              location.reload();
            });
    //TODO: url integrity check
/*
    $.get(o_url, {})
        .done(function(){
               var url_b64 = btoa(o_url);
               $('#submit_bn').attr('disabled','true');
               //e.preventDefault();
               $.post("/comment/"+url_b64+"/",{comment:$('#id_comment_str').val()}, 
                       function() {
                         location.reload();
                       });
               })
        .fail(function() {
               BootstrapDialog.show({
                   title: "ERROR!",
                   message: "请检查URL是否正确"
               });
            })
            */
    return false;
}

</script>

{% block footer %}
{% endblock %}
</body>
</html>
