body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Home_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1330px;
    height:709px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1330px;
    height:709px;
}

.u1 {
    position:absolute;
    left:2px;
    top:346px;
    width:1326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Home_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:1292px;
    top:299px;
    width:35px;
    height:111px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:117px;
}

.u3 {
    position:absolute;
    left:2px;
    top:48px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:1296px;
    top:378px;
    width:25px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:1301px;
    top:311px;
    width:15px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

