{% load humanize %}
{% load tags %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<html>

<head>
  <meta charset="utf-8">
  <title>藤蔓评论 - 最前沿的社会化评论社区</title>
  <link href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'font-awesome/4.0.3/css/font-awesome.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'twitter-bootstrap/3.0.3/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/navbar_dwarf.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/base.css' %}" rel="stylesheet"/>

{% block head %}
{% endblock %}
</head>

<body>
  <div class="navbar-xs">
  <div class="navbar-primary">
  <div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      </button>
      <a class="navbar-brand" href="/">藤蔓评论</a>
    </div> <!-- .navbar-header -->
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#home" data-toggle="tab" onclick="Home(this)">展示</a></li>
        <li class="active"><a href="#best" data-toggle="tab" onclick="Best(this)">最优</a></li>
        <li><a href="#newest" data-toggle="tab" onclick="Newest(this)">最新</a></li>
        <li class="dropdown subject-item">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class="subject-title">最热 <b class="caret"></b></div></a>
          <ul class="dropdown-menu">
            <li><a href="#24-hours-hot" data-toggle="tab" onclick="Hotest(this, '1')">今日最多up</a></li>
            <li><a href="#7-days-hot" data-toggle="tab" onclick="Hotest(this, '7')">7天最多up</a></li>
            <li><a href="#30-days-hot" data-toggle="tab" onclick="Hotest(this, '30')">30天最多up</a></li>
          </ul>
        </li>
        <li class="dropdown subject-item">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class="subject-title">最具争议 <b class="caret"></b></div></a>
          <ul class="dropdown-menu">
            <li><a href="#24-hours-debate" data-toggle="tab" onclick="Debate(this, '1')">今日最具争议</a></li>
            <li><a href="#7-days-debate" data-toggle="tab" onclick="Debate(this, '7')">7天最具争议</a></li>
            <li><a href="#30-days-debate" data-toggle="tab" onclick="Debate(this, '30')">30天最具争议</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search" method="get" action="/search">
        <div class="form-group">
          <input id="search-input" type="text" name="q" class="form-control" placeholder="搜索全站内容" onkeypress="return SearchIfEnter(event)">
        </div>
        <a href="#" onclick="Search(this)"><span class="glyphicon glyphicon-search"></span></a>
      </form>
      <ul class="nav navbar-nav navbar-right">
        {% include 'auth/auth_all__li.html' %}
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
  </div>
  </div> <!-- .navbar-primary -->
  </div> <!-- .navbar-xs -->

  {% include "auth/auth_modal.html" %}

<div class="container">
<!--
<div class="alert-messages" id="message-drawer" style="opacity: 0; display: none; float:top">
	<div class="message ">
		<div class="message-inside">
			<span class="message-text">吐槽成功！</span>
			<a class="dismiss" href="#" style="display: none;">×</a>
		</div>
	</div>
</div>
-->
<div class="panel panel-default">
  <div class="panel-body"> 每日推荐  预留 </div>
</div>

<div id="showMsg">
</div> <!-- /#showMsg -->

{% block content %}
{% endblock %}
</div>

<script src="{% static 'jquery/2.0.3/jquery.min.js' %}"></script>
<script src="{% static 'twitter-bootstrap/3.0.3/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/btoa.js' %}"></script>
<script src="{% static 'js/csrf.js' %}"></script>
<script src="{% static 'js/comment_updown.js' %}"></script>
<script type="text/javascript">$('a').tooltip();</script>
<!-- XXX: use popup_message in commentBoard.js -->
<script type="text/javascript" src="{% static "test/commentBoard.js" %}"></script>

<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/wysihtml5/0.3.0/wysihtml5.min.js"></script>
  <script src="http://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


<script type="text/javascript">
function Home(me) {
  window.location.href = "{% static 'onepage-scroll/Demo/demo.html' %}";

  $.get("/index")
   .done(function(data){
        $('#showMsg').html(data);
   });
};
function Best(me) {
  $.get("/home/best")
   .done(function(data){
        $('#showMsg').html(data);
   });
};
function Newest(me) {
  $.get("/home/newest")
   .done(function(data){
        $('#showMsg').html(data);
   });
};
function Hotest(me, days) {
  $.get("/home/hot/"+days)
   .done(function(data){
        $('#showMsg').html(data);
       });
};
function Debate(me, days) {
  $.get("/home/debate/"+days)
   .done(function(data){
        $('#showMsg').html(data);
       });
};
function Search(me) {
  $.get("/search/?q=" + document.getElementById('search-input').value)
  .done(function(data) {
    $('#showMsg').html(data);
  });
  return false;
};
function SearchIfEnter(event) {
  //if (!event) { var event = window.event; }
    //event.preventDefault();
    var keypressed = event.keyCode || event.which;
    if (keypressed == 13) {
        Search(this);
        return false;
    }
    return true;
}
function SearchText(text) {
  $.get("/search/?q=" + text)
  .done(function(data) {
    $('#showMsg').html(data);
  });
};
//$('#search-input').keyup(SearchIfEnter(event));

$(document).ready(function() {
  if (!window.btoa) {
    window.btoa = base64.encode;
  }
  $('body').append('<div id="vine_comment_iframe"></div>');
  $.support.cors = true;
  $('#vine_comment_iframe').load("/iframe/" + btoa(document.location));
});
</script>

{% block footer %}
{% endblock %}
</body>
</html>
