<html>
<head>
<link rel="stylesheet" href="{% static 'test/comment_styles.css' %}" type="text/css" media="all" />
<link href="{% static 'font-awesome/4.0.3/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'twitter-bootstrap/3.0.3/css/bootstrap.min.css' %}" rel="stylesheet>
{% block head %}
{% endblock %}
</head>

<body>
{% block content %}
{% endblock %}

<script src="{% static 'jquery/2.0.3/jquery.min.js' %}"></script>
<script src="{% static 'test/commentBoard.js' %}"></script>
<script src="{% static 'twitter-bootstrap/3.0.3/js/bootstrap.min.js' %}"></script>
{% block foot %}
{% endblock %}
</body>
</html>