{% load humanize %}
{% load tags %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<html>

<head>
  <meta charset="utf-8">
  <title>藤蔓评论 - 最前沿的社会化评论社区</title>
  <link href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'font-awesome/4.0.3/css/font-awesome.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'twitter-bootstrap/3.0.3/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/navbar_dwarf.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/base.css' %}" rel="stylesheet"/>

{% block head %}
{% endblock %}
</head>

<body>
<div class="container">
  <div class="navbar-xs">
  <div class="navbar-primary">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        </button>
        <a class="navbar-brand" href="/">藤蔓评论</a>
      </div> <!-- .navbar-header -->
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">首页</a></li>
        <li class="active"><a href="#" data-toggle="tab" onclick="Best(this)">最优</a></li>
        <li><a href="#best" data-toggle="tab" onclick="Newest(this)">最新</a></li>
        <li><a href="#24-hours-hot" data-toggle="tab" onclick="DayHot(this)">今日最热</a></li>
        <li><a href="#7-days-hot" data-toggle="tab" onclick="WeekHot(this)">7天最热</a></li>
        <li><a href="#30-days-hot" data-toggle="tab" onclick="MonthHot(this)">30天最热</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" method="get" action="/search">
        <div class="form-group">
          <input id="search-input" type="text" name="q" class="form-control" placeholder="搜索全站内容" onkeypress="return SearchIfEnter(event)">
        </div>
        <a href="#" onclick="Search(this)"><span class="glyphicon glyphicon-search"></span></a>
      </form>
      <ul class="nav navbar-nav navbar-right">
        {% include 'auth/auth_all__li.html' %}
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
  </div>
  </div> <!-- .navbar-primary -->
  </div> <!-- .navbar-xs -->

  {% include "auth/auth_modal.html" %}

<div class="panel panel-default">
  <div class="panel-body">
    Basic panel
  </div>
</div>

{% block content %}
{% endblock %}
</div>

<script src="{% static 'jquery/2.0.3/jquery.min.js' %}"></script>
<script src="{% static 'test/commentBoard.js' %}"></script>
<script src="{% static 'twitter-bootstrap/3.0.3/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/btoa.js' %}"></script>
<script type="text/javascript">$('a').tooltip();</script>

<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/wysihtml5/0.3.0/wysihtml5.min.js"></script>
  <script src="http://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

{% block footer %}
{% endblock %}
</body>
</html>