{% load humanize %}
{% load staticfiles %}
<script src="{% static 'jquery/2.0.3/jquery.min.js' %}"></script>
<script src="{% static 'js/comment_updown.js' %}"></script>

		<ul class="list-group">
		{% for message in p_comment.object_list %}
			<li class="list-group-item">
				<span style="float:right">
					<a href="#" id="up_comment_{{message.id}}" onclick="up('{{message.id}}')">
						{% if user.id in message.up_users %}
						<i class="fa fa-thumbs-up"></i>
						{% else %}
						<i class="fa fa-thumbs-o-up"></i>
						{% endif %}
						+<span>{{ message.up_users|length }}</span>
					</a>
					<a href="#" id="down_comment_{{message.id}}" onclick="down('{{message.id}}')">
						{% if user.id in message.down_users %}
						<i class="fa fa-thumbs-down fa-flip-horizontal"></i>
						{% else %}
						<i class="fa fa-thumbs-o-down fa-flip-horizontal"></i>
						{% endif %}
						-<span>{{ message.down_users|length }}</span>
					</a>
				 </span>
				 <strong>{% if message.user %}{{ message.user }}{% else %}{{ message.author_ip }}{% endif %}</strong>
				 <span id='comment_time'> {{ message.time_added|naturaltime }}</span> {{message.comment_str}} <br>
		     <span> {{message.comment_board.title}} </span>
			</li>
		{% endfor %}
		</ul>

		<ul class='pagination'>
		{% if p_comment.has_previous %}
		<li id='pagination_arrow_{{ p_comment.previous_page_number }}'><a href='#'>«</a></li>
		<script type="text/javascript">
			$('#pagination_arrow_{{ p_comment.previous_page_number }}').on('click', function() {
				$('#showMsg').load('/home/hot/{{days}}?page={{ p_comment.previous_page_number }}');
			});
		</script>
		{% endif %}
		{% for num in p_comment.paginator.page_range %}
			{% ifequal num p_comment.number %}
				<li><span class="current"><b>{{ num }}</b></span></li>
			{% else %}
				<li id='pagination_{{num}}'><a href="#">{{ num }}</a></li>
				<script type="text/javascript">
					$('#pagination_{{num}}').on('click', function() {
						$('#showMsg').load('/home/hot/{{days}}?page={{ num }}');
					});
				</script>

			{% endifequal %}
		{% endfor %}
		{% if p_comment.has_next %}
		<li id='pagination_arrow_{{ p_comment.next_page_number }}'><a href="#">»</a></li>
		<script type="text/javascript">
			$('#pagination_arrow_{{ p_comment.next_page_number }}').on('click', function() {
          $('#showMsg').load('/home/hot/{{days}}?page={{ p_comment.next_page_number }}');
			});
		</script>
		{% endif %}

		</ul>
