{% load humanize %}

  <script>
    function expandReply(id) {
      if (!$('#replyDiv'+id).is(':visible')) {
        $('#replyDiv'+id).show();
        $.get("/ajax/reply/comment/"+id, {})
        .done(function(data) {
          $('#repliesof'+id ).html(data);
        });
      } else {
        $('#replyDiv'+id).hide();
      }
    }
    function reply(id) {
      var reply_str = $('#reply'+id).val();
      $.post("/ajax/reply/comment/"+id, {'reply_str':reply_str})
      .done(function(data) {
        $('#repliesof'+id ).html(data);
        $('#reply'+id).val('');
        var reply_num = $('#reply_comment_'+id).find('span');
        var count = parseInt(reply_num.text())+1;
        reply_num.text(count);
      });
    }
    function expandDetail(id) {
      if (!$('#detailDiv'+id).is(':visible')) {
        $('#detailDiv'+id).show();
        $.get("/detail/comment/"+id,{})
         .done(function(data) {
           $('#detailDiv'+id).html(data);
         });
      } else {
        $('#detailDiv'+id).hide();
      }
    }
  </script>

    <ul class="list-group">
    {% for message in p_comment.object_list %}
      <li class="list-group-item">
        <span style="float:right">
          <a href="#" id="up_comment_{{message.id}}" onclick="up('{{message.id}}');return false;">
            {% if user.id in message.up_users %}
            <i class="fa fa-thumbs-up"></i>
            {% else %}
            <i class="fa fa-thumbs-o-up"></i>
            {% endif %}
            +<span>{{ message.up_users|length }}</span>
          </a>
          <a href="#" id="reply_comment_{{message.id}}" onclick="expandReply('{{message.id}}');return false;">
            <i class="fa fa-comments-o"></i>
            <span>{{ message.replies|length }}</span>
          </a>
          <a href="#" id="down_comment_{{message.id}}" onclick="down('{{message.id}}');return false;">
            {% if user.id in message.down_users %}
            <i class="fa fa-thumbs-down fa-flip-horizontal"></i>
            {% else %}
            <i class="fa fa-thumbs-o-down fa-flip-horizontal"></i>
            {% endif %}
            -<span>{{ message.down_users|length }}</span>
          </a>
         </span>
         <span style="font-size:200%" id="comment_str_{{message.id}}">{{message.comment_str}}</span>
         <span>
           (<a href="{{message.comment_board.url}}">{{message.comment_board.url}}</a>)
           <a href="#" onclick="expandDetail('{{message.id}}');return false;"><i class="fa fa-info-circle"></i></a>
         </span>
         <br>
         <a href="#" style="margin-left:10px">{% if message.user %}{{ message.user }}{% else %}{{ message.author_ip }}{% endif %}</a>
         <span id='comment_time'>提交于 {{ message.time_added|naturaltime }}</span>
         <span id="comment_tags_{{message.id}}">
           {%for tag in message.tags%}
           <a href="#" onclick="SearchText('{{tag}}');return false;"><span class="label label-default">{{tag}}</span></a>
           {%endfor%}
         </span>
         <br>
         <ul class="list-group" id="detailDiv{{message.id}}" style="display:none;margin-top:5px">
           loading ...
         </ul>
         <ul class="list-group" id="replyDiv{{message.id}}" style="display:none;margin-top:5px">
           <div id="repliesof{{message.id}}">
           {% include 'reply.html' %}
           </div>
           <li class="list-group-item">
           <div class="input-group">
             <textarea rows="5" class="form-control" id="reply{{message.id}}" name="reply" placeholder="可输入5-140个字"></textarea>
             <span class="input-group-btn">
               <button class="btn btn-default submitComment" data-loading-text="回复中" onclick="reply('{{message.id}}')" type="button">
                回复
               </button>
             </span>
           </div><!-- /input-group -->
           </li>
         </ul>
      </li>
    {% endfor %}
    </ul>
