{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link href="{% static 'css/home.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% endblock %}


{% block footer %}

<script type="text/javascript">
$(document).ready(function(){
	if (!window.btoa) window.btoa = base64.encode;
	$('body').append('<div id="vine_comment_iframe"></div>');
	$.support.cors = true;
	$('#vine_comment_iframe').load("/iframe/" + btoa(document.location));
});
function Best(me) {
  $.get("/home/best")
   .done(function(data){
        $('#showMsg').html(data);
       });
};
function Newest(me) {
  $.get("/home/newest")
   .done(function(data){
        $('#showMsg').html(data);
       });
};
function DayHot(me) {
  $.get("/home/hot/1")
   .done(function(data){
        $('#showMsg').html(data);
       });
};
function WeekHot(me) {
  $.get("/home/hot/7")
   .done(function(data){
        $('#showMsg').html(data);
       });
};
function MonthHot(me) {
  $.get("/home/hot/30")
   .done(function(data){
        $('#showMsg').html(data);
       });
};
function Search(me) {
  $.get("/search/?q=" + document.getElementById('search-input').value)
  .done(function(data) {
    $('#showMsg').html(data);
  });
  return false;
};
function SearchIfEnter(event) {
	//if (!event) { var event = window.event; }
    //event.preventDefault();
    var keypressed = event.keyCode || event.which;
    if (keypressed == 13) {
        Search(this);
        return false;
    }
    return true;
}
//$('#search-input').keyup(SearchIfEnter(event));

Best();
</script>

{% endblock %}
