
{% load avatar_tags %}

<header class="user-author-header header-gray">
<div class="container">

  <div class="row">

    <div id="user-info-view" class="col-md-2 pull-left">
      <div class="avatar-wrapper">
        <!--a onclick="showForm(this, 'picForm')" title="更换头像" href='#'-->
        <a href="{% url 'avatar_change' %}" title="更换头像">
          <div class="avatar-image-container">
            {% avatar user %}
          </div>
        </a>
        {% comment %}
        <form method="post" action="{% url 'user_head_sculpture' %}" enctype="multipart/form-data" style='display:none' id='picForm'>
          {% csrf_token %}
          {{ header_form|crispy }}
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary">上传</button>
            </div>
          </div>
        </form>
        {% endcomment %}
      </div>
    </div>

    <div id="user-info-view" class="col-md-2 pull-left">
      <div class="user-details">
        <div class="user-details-show">
          <div class="user-identifier user-details-editable">
            <span class="username">用户名：{{ user }}</span>
          </div>
        </div>
        <div class="points-labels">
          <span class="title">头衔 : {{ author.title }}</span>
        </div>
        <div class="points-labels">
          <span class="points">积分 : {{ author.points }}</span>
        </div>
      </div>
    </div>

<!--
持续时间    <span class="stat-count"> XXX </span> 天
<div class="last-coded">上次编码<span class="last-coded-time"> XXX 天前</span></div>
-->
    <div class="login-stats col-md-2">
      <div class="user-points-bar-container">
        <div class="points-labels">
          <span class="clogin">连续登录<strong>{{ author.continuous_login }}天</strong></span>
        </div>
        <div class="points-labels">
          <span class="hclogin">最长连续登录<strong>{{ author.history_c_login }}天</strong></span>
        </div>
        <div class="points-labels">
          <span class="comments_sum">上次登录<strong>{{ author.user.last_login }}</strong></span>
        </div>
      </div>
    </div>

    <div class="user-stats col-md-2">
      <div class="user-points-bar-container">
        <div class="points-labels">
          <span class="comments_sum">发表评论<strong>{{ author.comments_sum }}条</strong></span>
        </div>
      </div>
    </div>

  </div>

</div>
</header>

{% include 'comments_list.html' %}

<ul class='pagination'>
  {% if p_comment.has_previous %}
  <li id='pagination_arrow_{{ p_comment.previous_page_number }}'><a href='/home/{{flag}}?page={{ p_comment.previous_page_number }}'>«</a></li>
  {% endif %}
  {% for num in p_comment.paginator.page_range %}
    {% ifequal num p_comment.number %}
      <li><span class="current"><b>{{ num }}</b></span></li>
    {% else %}
    <li id='pagination_{{num}}'><a href="/home/{{flag}}?page={{ num }}">{{ num }}</a></li>
    {% endifequal %}
  {% endfor %}
  {% if p_comment.has_next %}
  <li id='pagination_arrow_{{ p_comment.next_page_number }}'><a href="/home/{{flag}}?page={{ p_comment.next_page_number }}">»</a></li>
  {% endif %}
</ul>

<script src="http://cdn.jsdelivr.net/jquery.knob/1.2.2/jquery.knob.min.js"></script>

<script>
$(function() {
    $(".dial").knob({
    	readOnly:true,
        'draw': function () {
          if (this.cv.indexOf('%') == -1)
            $(this.i).val(this.cv + '%');
        }
    });
    $(".knob").knob();
});

function showForm(me, id) {
  if ($('#'+id).is(":visible")) {
    $(me).attr('title', "更换头像");
    $('#'+id).hide();
  } else {
    $(me).attr('title', "收起表单");
    $('#'+id).show();
  }
};
</script>
