<html>

<head>
{% load humanize %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'test/comment_styles.css' %}" type="text/css" media="all" />
<link href="{% static 'font-awesome/4.0.3/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'twitter-bootstrap/3.0.3/css/bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'jquery/2.0.3/jquery.min.js' %}"></script>
<script src="/static/js/btoa.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	if (!window.btoa) window.btoa = base64.encode;
	$('body').append('<div id="vine_comment_iframe"></div>');
	$.support.cors = true;
	$('#vine_comment_iframe').load("/iframe/" + btoa(document.location));
});
function WeekHot() {
  $.get("/home/weekhot/")
   .done(function(data){
        $('#showMsg').html(data);
       });
};
</script>
</head>

<body>
	<h1>Vine Comments</h1>
  <button class="btn btn-primary">今日最热</button>
  <button class="btn btn-primary" onclick="WeekHot()">周最热</button>
  <button class="btn btn-primary">月最热</button>
	<div id="showMsg">
    {% include 'comments_list.html' %}
	</div> <!-- /#showMsg -->
</body>

	<script type="text/javascript" src="{% static 'test/commentBoard.js' %}"></script>
	<script src="{% static 'twitter-bootstrap/3.0.3/js/bootstrap.min.js' %}"></script>

</html>
