<html>

<head>
{% load humanize %}
{% load tags %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<link href="{% static 'test/comment_styles.css' %}" rel="stylesheet"/>
<link href="{% static 'font-awesome/4.0.3/css/font-awesome.min.css' %}" rel="stylesheet"/>
<link href="{% static 'twitter-bootstrap/3.0.3/css/bootstrap.min.css' %}" rel="stylesheet"/>
<style>
 .subjects .nav li div {
 display: table-cell;
 vertical-align: middle; 
}
</style>
</head>

<body style="margin-top:10px;width:90%;margin-left:5%">
  <h1>Vine Comments</h1>
  <ul class="nav nav-pills" class="panel panel-default" style="float:right">
    {% include 'auth/auth_all__li.html' %}
  </ul>
  <button class="btn btn-success get_hotest" onclick="Best(this)">最优</button>
  <button class="btn btn-primary get_hotest" onclick="Newest(this)">最新</button>
  <button class="btn btn-primary get_hotest" onclick="DayHot(this)">今日最热</button>
  <button class="btn btn-primary get_hotest" onclick="WeekHot(this)">7天最热</button>
  <button class="btn btn-primary get_hotest" onclick="MonthHot(this)">30天最热</button>
  <div id="showMsg" style="margin-top:10px;">
    {% include 'comments_best.html' %}
  </div> <!-- /#showMsg -->
</body>


<script src="{% static 'jquery/2.0.3/jquery.min.js' %}"></script>
<script src="/static/js/btoa.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	if (!window.btoa) window.btoa = base64.encode;
	$('body').append('<div id="vine_comment_iframe"></div>');
	$.support.cors = true;
	$('#vine_comment_iframe').load("/iframe/" + btoa(document.location));
});
function Best(me) {
  $('.get_hotest').prop('class',"btn btn-primary get_hotest");
  $(me).prop('class',"btn btn-success get_hotest");
  $.get("/home/best")
   .done(function(data){
        $('#showMsg').html(data);
       });
};
function Newest(me) {
  $('.get_hotest').prop('class',"btn btn-primary get_hotest");
  $(me).prop('class',"btn btn-success get_hotest");
  $.get("/home/newest")
   .done(function(data){
        $('#showMsg').html(data);
       });
};
function DayHot(me) {
  $('.get_hotest').prop('class',"btn btn-primary get_hotest");
  $(me).prop('class',"btn btn-success get_hotest");
  $.get("/home/hot/1")
   .done(function(data){
        $('#showMsg').html(data);
       });
};
function WeekHot(me) {
  $('.get_hotest').prop('class',"btn btn-primary get_hotest");
  $(me).prop('class',"btn btn-success get_hotest");
  $.get("/home/hot/7")
   .done(function(data){
        $('#showMsg').html(data);
       });
};
function MonthHot(me) {
  $('.get_hotest').prop('class',"btn btn-primary get_hotest");
  $(me).prop('class',"btn btn-success get_hotest");
  $.get("/home/hot/30")
   .done(function(data){
        $('#showMsg').html(data);
       });
};
</script>

<script src="{% static 'test/commentBoard.js' %}"></script>
<script src="{% static 'twitter-bootstrap/3.0.3/js/bootstrap.min.js' %}"></script>

</html>
