{% load crispy_forms_tags %}
{% load highlight %}
{% load more_like_this %}

{% comment %}
<div class="block">
  <h2>Search</h2>
  <form class="col-md-6 form" role="form" method="get" action=".">
    <div>
    {{ form|crispy }}
    </div>
    <div class="form-group ">
      <button type="submit" class="btn btn-default">Search</button>
    </div>
  </form>
</div>
{% endcomment %}
<div class="block">
<form class="form-inline" role="search" method="get" action="/search">
  <div class="form-group">
    <input id="search-input" type="text" name="q" class="form-control" placeholder="搜索全站内容" onkeypress="return SearchIfEnter(event)">
  </div>
  <a href="#" onclick="Search(this)" data-original-title="" title=""><span class="glyphicon glyphicon-search"></span></a>
</form>
</div>

{# 这个block是用于显示所有搜索结果的 #}
<div class="block">
{% if query %}
  <blockquote><p><strong>{{ query }}</strong> 的搜索结果</p></blockquote>

  {% for result in page.object_list %}
    {% more_like_this comment as related_content %}
    <p>
      {{ result.object.comment_board.title }}: <a href="{{ result.object.get_absolute_url }}">{{ result.object.comment_str }}</a>
    </p>
  {% empty %}
    <p>No results found.</p>
  {% endfor %}

  {% if page.has_previous or page.has_next %}
    <div>
      {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
      |
      {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
    </div>
  {% endif %}
{% else %}
  {# Show some example queries to run, maybe query syntax, something else? #}
  <p>没有请求。</p>
{% endif %}
</div>