{% load humanize %}
  <script>
    function replyAtReply(comment_id, reply_user) {
      //todo: send an email to the user @'ed, and user name will link to the user's profile
      $('#reply'+comment_id).text('@'+reply_user+' ');
    }
  </script>

  {% for reply in replies %}
    <li class="list-group-item">
      <span style="float:right">
      {% if reply.user %}
      <a href="#reply{{reply.comment.id}}" onclick="replyAtReply('{{reply.comment.id}}','{{reply.user}}');">
        <i class="fa fa-reply"></i>
       </a>
      {% endif %}
      </span>
      [#{{ forloop.counter }}]
      <span class="comment-reply">{{reply.reply_str}}</span>
	  <a href=javascript:void(0); style="margin-left:10px">{% if reply.user %}{{ reply.user }}{% else %}{{ reply.author_ip }}{% endif %}</a>
	  <span class='comment-time'>{{ reply.time_added|naturaltime }}</span>
    </li>
  {% endfor %}
