{% extends "site/comments/base.html" %}

{% block title %}注册成功了...一半{% endblock %}

{% block content %}
{% load staticfiles %}
<script src="{% static 'jquery/2.0.3/jquery.min.js' %}"></script>
<script src="/static/js/btoa.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	if (!window.btoa) window.btoa = base64.encode;
	$.support.cors = true;
	$('a').prop("href", "/comment/" + btoa(document.location));
});
</script>
<h1>请到您的注册邮箱查收邮件</h1>
<p>一封激活邮件已经发到您邮箱里，亲只需轻轻一戳就大功告成！</p>
<a href="/">回到藤蔓评论<a>
{% endblock %}
