{% load range %}

{{ refer_url }}
<ul class="list-group">
{% for message in messages %}
    <li class="list-group-item">
    <strong>路人甲</strong>
    {% for element in message %}
        {{ element }} 
	{% endfor %}
    <br>
    </li>
{% endfor %}

{% for blank in blanks %}
    <li class="list-group-item">
    <br>
    </li>
{% endfor %}
</ul>

<div><ul class="pagination">
<li><a href="#">«</a></li>
{% range 1:n_page as i %}
    <li><a href="#">
    {{ i }}
    </a></li>
{% endrange %}
<li><a href="#">»</a></li>
</ul></div>
